@import 'config';

#agent-skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;

  div {
    margin: 5px 0;
  }

  img {
    margin: 5px;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

#agent-div-2 {
  // width: 80%;
  margin: auto !important;
}

#agent-container {
  display: grid;
  padding: 0 3em 0 3em;

  div {
    grid-column: 1;
    grid-row: 1;
  }
  // remove agent-container css and div to revert
}

#button-container {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

.ability-container {
  display: grid;
  list-style: none;
  justify-content: center;
  border-top: 1px solid $text-color;

  div {
    grid-column: 1;
    grid-row: 1;
  }
}

.misc-container {
  display: flex;
}

// .agent-container {
//   display: flex;
//   list-style: none;
//   justify-content: center;
// }

.agent-image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid green;
  cursor: pointer;
}

.ability-image {
  height: 45px;
  width: 45px;
  // background-color: black;
  border-radius: 50%;
  border: 2px solid green;
  padding: 8px;
  cursor: pointer;
}

.border-btn {
  width: 50% !important;
}

@media all and (max-width: 1130px) {
  #agent-container {
    padding: 0;
  }
}

@media all and (max-width: 953px) {
  .agent-image,
  .ability-image {
    width: 40px;
    height: 40px;
    border: 1px solid green;
  }
}
