@import 'config';

#map-list-container {
}

#left-container {
  display: flex;
  justify-content: flex-end;
}

#map-container {
  width: 65%;
  position: relative;
  // margin: auto;

  canvas {
    width: 100%;
    height: 90%;
    // border: 1px solid blue;
    position: absolute;
    // margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#map-img {
  width: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#map-list {
  list-style: none;
  display: flex;
  justify-content: center;

  // Map button centering
  padding-left: 20rem;
}

#drawing-tools {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-color;

  // for drawing-tools in canvas.js
  position: absolute;
  top: 10rem;
  left: -6.5rem;

  button,
  input,
  i {
    margin: 5px auto;
    cursor: pointer;
  }

  .dt-2 {
    color: #e1b826;
  }

  .dt-2:hover {
    color: #c9a11e;
  }

  .dt-3 {
    color: #f2aab2;
  }

  .dt-3:hover {
    color: #d99498;
  }

  .dt-4 {
    color: red;
  }

  .dt-4:hover {
    color: #db000b;
  }

  .dt-4:hover {
  }
}

#color-container {
  position: relative;
  text-align: center;

  label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'DINW05';
    font-size: 0.75rem;
    font-weight: bold;
    width: 60px;
    color: $text-color-blk;
    cursor: pointer;
  }
}

#color:hover {
  label {
    color: $text-color;
  }
}

.btn {
  font-family: 'DINW05';
  font-size: 0.75rem;
  font-weight: bold;
  width: 60px;
  background-color: $btn-color;
  color: $text-color-blk;
  border-style: none;
  border-radius: 5%;
  margin: 0 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.map-btn {
  display: inline-block;
  position: relative;
  transition: color 0.25s ease;
  z-index: 1;
}

.map-btn:hover,
.map-btn:focus {
  color: $text-color;
}

.map-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $text-color-blk;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.map-btn:hover::before,
.map-btn:focus::before {
  transform: scaleX(1);
  border: 1px solid $text-color;
  border-radius: 5%;
}

.draw-btn:hover {
  background-color: $hover-color;
  color: $text-color;
  transition: background-color 0.25s ease, color 0.25s ease;
}
// ----------------------
