@import 'config';

@font-face {
  font-family: 'VALORANT';
  src: url('/src/static/fonts/Valorant_Font.ttf') format('truetype');
}

@font-face {
  font-family: 'DINW05';
  src: url('/src/static/fonts/DINW05.ttf') format('truetype');
}

//---------- App.js file ----------//
.App {
  text-align: center;
  background-color: black;
  // background-image: url('https://playvalorant.com/assets/images/background-sprite.png');
}

#app-container {
  display: flex;
}

#map-comp-container {
  width: 100%;
}

#agent-comp-container {
  display: flex;
  align-items: center;
  width: 30%;
}

// .App-header {
//   background-color: black;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
// }
//---------------------------------//

@import 'agent';
@import 'header';
@import 'index';
@import 'mapList';
@import 'error';
@import 'esports';
