@font-face {
  font-family: 'VALORANT';
  src: url("/src/static/fonts/Valorant_Font.ttf") format("truetype");
}

@font-face {
  font-family: 'DINW05';
  src: url("/src/static/fonts/DINW05.ttf") format("truetype");
}

.App {
  text-align: center;
  background-color: black;
}

#app-container {
  display: flex;
}

#map-comp-container {
  width: 100%;
}

#agent-comp-container {
  display: flex;
  align-items: center;
  width: 30%;
}

#agent-skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

#agent-skill-container div {
  margin: 5px 0;
}

#agent-skill-container img {
  margin: 5px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#agent-div-2 {
  margin: auto !important;
}

#agent-container {
  display: grid;
  padding: 0 3em 0 3em;
}

#agent-container div {
  grid-column: 1;
  grid-row: 1;
}

#button-container {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

.ability-container {
  display: grid;
  list-style: none;
  justify-content: center;
  border-top: 1px solid #f9f9f9;
}

.ability-container div {
  grid-column: 1;
  grid-row: 1;
}

.misc-container {
  display: flex;
}

.agent-image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid green;
  cursor: pointer;
}

.ability-image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid green;
  padding: 8px;
  cursor: pointer;
}

.border-btn {
  width: 50% !important;
}

@media all and (max-width: 1130px) {
  #agent-container {
    padding: 0;
  }
}

@media all and (max-width: 953px) {
  .agent-image,
  .ability-image {
    width: 40px;
    height: 40px;
    border: 1px solid green;
  }
}

a {
  text-decoration: none;
  color: #ff4655;
}

a:hover {
  color: #e30012;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
  color: #f9f9f9;
  background-color: #0f1923;
}

header h1 {
  font-family: 'VALORANT';
  color: #ff4655;
  padding-top: 7px;
}

header h1:hover {
  color: #e30012;
}

header h3 {
  margin: auto;
  padding-left: 15px;
}

#header-left {
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'DINW05', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#left-container {
  display: flex;
  justify-content: flex-end;
}

#map-container {
  width: 65%;
  position: relative;
}

#map-container canvas {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map-img {
  width: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#map-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 20rem;
}

#drawing-tools {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f9f9f9;
  position: absolute;
  top: 10rem;
  left: -6.5rem;
}

#drawing-tools button,
#drawing-tools input,
#drawing-tools i {
  margin: 5px auto;
  cursor: pointer;
}

#drawing-tools .dt-2 {
  color: #e1b826;
}

#drawing-tools .dt-2:hover {
  color: #c9a11e;
}

#drawing-tools .dt-3 {
  color: #f2aab2;
}

#drawing-tools .dt-3:hover {
  color: #d99498;
}

#drawing-tools .dt-4 {
  color: red;
}

#drawing-tools .dt-4:hover {
  color: #db000b;
}

#color-container {
  position: relative;
  text-align: center;
}

#color-container label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'DINW05';
  font-size: 0.75rem;
  font-weight: bold;
  width: 60px;
  color: #0f1923;
  cursor: pointer;
}

#color-container label:hover {
  color: #f9f9f9;
}

#color::-moz-color-swatch {
  border: none;
}

#color::-webkit-color-swatch {
  border: none;
}

.btn {
  font-family: 'DINW05';
  font-size: 0.75rem;
  font-weight: bold;
  width: 60px;
  background-color: #ff4655;
  color: #0f1923;
  border-style: none;
  border-radius: 5%;
  margin: 0 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.map-btn {
  display: inline-block;
  position: relative;
  transition: color 0.25s ease;
  z-index: 1;
}

.map-btn:hover,
.map-btn:focus {
  color: #f9f9f9;
}

.map-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0f1923;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.map-btn:hover::before,
.map-btn:focus::before {
  transform: scaleX(1);
  border: 1px solid #f9f9f9;
  border-radius: 5%;
}

.draw-btn:hover {
  background-color: #e30012;
  color: #f9f9f9;
  transition: background-color 0.25s ease, color 0.25s ease;
}

#error {
  margin: 5rem auto auto auto;
  padding: 4rem;
  width: 50%;
  border: 1px solid #f9f9f9;
  background-color: #292929;
}

#error img {
  height: 10%;
  width: 10%;
  margin-top: -5rem;
  color: #f9f9f9;
}

#error h1 {
  color: #ff4655;
  margin-bottom: 1rem;
}

#error h2 {
  color: #f9f9f9;
}

#error button {
  margin: 2rem;
}

#error-text {
  color: #ff4655;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#loading-text {
  animation: blinker 1s linear infinite;
}

.fa-smile {
  padding-bottom: 3rem;
}
