@import 'config';

@font-face {
  font-family: 'VALORANT';
  src: url('/fonts/Valorant_Font.ttf') format('truetype');
}

@font-face {
  font-family: 'DINW05';
  src: url('/fonts/DINW05.ttf') format('truetype');
}

//---------- App.js file ----------//
.App {
  text-align: center;
  background-color: black;
  // background-image: url('https://playvalorant.com/assets/images/background-sprite.png');
}

// .App-header {
//   background-color: black;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
// }
//---------------------------------//

//---------- Header.js file ----------//
a {
  text-decoration: none;
  color: $btn-color;
}

a:hover {
  color: $hover-color;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
  color: $text-color;
  background-color: $text-color-blk;
  // border-bottom: 2px solid $btn-color;

  h1 {
    font-family: 'VALORANT';
    color: $btn-color;
    padding-top: 7px;
  }

  h1:hover {
    color: $hover-color;
  }

  h3 {
    margin: auto;
    padding-left: 15px;
  }
}

#header-left {
  display: flex;
}

//---------------------------------//

//---------- index.js file ----------//
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'DINW05', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
//---------------------------------//

//---------- MapList.js file ----------//
// #left-container {
//   display: flex;
// }

#map-container {
  // width: 50%;
}

#map-img {
  width: 50%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#map-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

#drawing-tools {
  width: 25%;
  display: flex;
  flex-direction: column;
  color: $text-color;

  button {
    margin: auto;
  }

  button:hover {
    background-color: $hover-color;
    color: $text-color;
    transition: background-color 0.25s ease, color 0.25s ease;
  }

  .dt-2 {
    color: #e1b826;
  }

  .dt-3 {
    color: #f2aab2;
  }

  .dt-4 {
    color: red;
  }
}

.btn {
  font-family: 'DINW05';
  font-size: 0.75rem;
  font-weight: bold;
  width: 55px;
  background-color: $btn-color;
  color: $text-color-blk;
  border-style: none;
  border-radius: 5%;
  margin: 0 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.map-btn {
  display: inline-block;
  position: relative;
  transition: color 0.25s ease;
  z-index: 1;
}

.map-btn:hover,
.map-btn:focus {
  color: $text-color;
}

.map-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $text-color-blk;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.map-btn:hover::before,
.map-btn:focus::before {
  transform: scaleX(1);
  border: 1px solid $text-color;
  border-radius: 5%;
}
//---------------------------------//

//---------- Agent.js file ----------//
// #agent-skill-container {
//   width: 25%;
// }

#ability-container {
  display: flex;
  list-style: none;
  justify-content: center;
}

.agent-container {
  display: flex;
  list-style: none;
  justify-content: center;
}

.agent-image {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 5px solid green;
}

.ability-image {
  height: 64px;
  width: 64px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid green;
  padding: 8px;
}
//---------------------------------//
